
.RatingContainer {
    display: flex;
    align-items: center;  
    max-width: 40%; 
    gap: 40px;
    justify-content: space-around;
}

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
    .RatingContainer {
        max-width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {
    .RatingContainer {
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
        gap: 20px;
    }
}